.new-expense {
    background-color: #2067b3;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    text-align: center;
}

.new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    background-color: white;
    color: black;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #2a2a2a;
    color: white;
    /* border-color: #510674; */
  }
  
  .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;
  }